@mixin heading {
  font-family: Roobert, RoobertTRIAL, sans-serif;
  font-weight: 900; // Heavy
  font-style: normal;
  line-height: 0.9;
}

@mixin heading-italic {
  font-family: Roobert, RoobertTRIAL, sans-serif;
  font-weight: 900; // Heavy
  font-style: italic;
  line-height: 0.9;
}

@mixin subheading {
  font-family: Roobert, RoobertTRIAL, sans-serif;
  font-weight: 500; // Medium
  font-style: normal;
  line-height: 1.1;
}

@mixin body {
  font-family: Roobert, RoobertTRIAL, sans-serif;
  font-weight: 400; // Regular
  line-height: 1.3;

  em, strong {
    font-family: Roobert, RoobertTRIAL, sans-serif;
    font-weight: 700; // Bold
  }
}

$normal-size: 2.1rem;
$small-size: 1.7rem;
