// Colors from the Zukunft Nahverkehr Innovationsdesign Style Guide (August 2024)

$black: #000;
$white: #fff;
$green: #78BE14;
$turquoise: #3CB5AE;
$green-1: #C9E5A1;
$green-2: #BCDF8A;
$green-3: #AED872;
$green-4: #A1D25B;
$green-5: #93CB43;
$green-6: #86C52B;
$green-7: #6CAB12;
$green-8: #609810;
$green-9: #54850E;
$green-10: #48720C;
$green-11: #3C5F0A;
$green-12: #304C08;
$turquoise-1: #B1E1DF;
$turquoise-2: #9EDAD7;
$turquoise-3: #8AD3CE;
$turquoise-4: #77CBC6;
$turquoise-5: #63C4BE;
$turquoise-6: #50BCB6;
$turquoise-7: #36A39D;
$turquoise-8: #30918B;
$turquoise-9: #2A7F7A;
$turquoise-10: #246D68;
$turquoise-11: #1E5B57;
$turquoise-12: #184846;
$gray-1: #D6D6D6;
$gray-2: #C4C4C4;
$gray-3: #B3B3B3;
$gray-4: #A1A1A1;
$gray-5: #8F8F8F;
$gray-6: #7D7D7D;
$gray-7: #6B6B6B;
$gray-8: #595959;
$gray-9: #474747;
$gray-10: #363636;
$gray-11: #242424;
$gray-12: #121212;
$dark-blue: #053773;
$blue: #006AA8;
$purple: #8269D7;
$orange: #FF6900;
$yellow: #FFD232;
