@use 'fls-colors';

.index-list {
  .index.value-1 {
    .value::before {
      background-color: fls-colors.$fls-index-1;
    }
  }

  .index.value-2 {
    .value::before {
      background-color: fls-colors.$fls-index-2;
    }
  }

  .index.value-3 {
    .value::before {
      background-color: fls-colors.$fls-index-3;
    }
  }

  .index.value-4 {
    .value::before {
      background-color: fls-colors.$fls-index-4;
    }
  }

  .index.value-5 {
    .value::before {
      background-color: fls-colors.$fls-index-5;
    }
  }
}
