.actions-pane {
  .btn-mode-food-production {
    background-image: url('../../static/icons/food-production.svg');
  }

  .btn-mode-biodiversity {
    background-image: url('../../static/icons/biodiversity.svg');
  }

  .btn-mode-carbon {
    background-image: url('../../static/icons/carbon-balance.svg');
  }
}
