.index-food-production .description {
  background-image: url('../../static/icons/food-production.svg');
}
.index-biodiversity .description {
  background-image: url('../../static/icons/biodiversity.svg');
}
.index-carbon-balance .description {
  background-image: url('../../static/icons/carbon-balance.svg');
}
.index-economic-growth .description {
  background-image: url('../../static/icons/economic-growth.svg');
}
.index-quality-of-life .description {
  background-image: url('../../static/icons/quality-of-life.svg');
}
